
    <section>
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
<<<<<<< HEAD
                <div class="col-md-3">
                    <div class="card" style="width:16rem; height:23rem;">
=======
                <div class="col-md-3 ">
                    <div class="card" style="width: 15rem; height:23rem">
>>>>>>> 28abe3c7411c945fe10eb7bbf6f58a328d3935d9
                         <img src="/product-images/{{this._id}}.jpg" alt="">
                        <div class="card-body"
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Description}}</p>
<<<<<<< HEAD
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to Cart</button>
=======
                            <button  onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
>>>>>>> 28abe3c7411c945fe10eb7bbf6f58a328d3935d9
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
<<<<<<< HEAD
=======

    
>>>>>>> 28abe3c7411c945fe10eb7bbf6f58a328d3935d9
